@font-face {font-family: "Suisse Int'l Medium";
  src: url("./fonts/./fonts/501e03d4c0303f394033bcaf435f4b3e.eot"); /* IE9*/
  src: url("./fonts/501e03d4c0303f394033bcaf435f4b3e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/501e03d4c0303f394033bcaf435f4b3e.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/501e03d4c0303f394033bcaf435f4b3e.woff") format("woff"), /* chrome、firefox */
  url("./fonts/501e03d4c0303f394033bcaf435f4b3e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/501e03d4c0303f394033bcaf435f4b3e.svg#Suisse Int'l Medium") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Suisse Int'l Mono";
  src: url("./fonts/008acf881eac29f0c639b8e2345a1764.eot"); /* IE9*/
  src: url("./fonts/008acf881eac29f0c639b8e2345a1764.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/008acf881eac29f0c639b8e2345a1764.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/008acf881eac29f0c639b8e2345a1764.woff") format("woff"), /* chrome、firefox */
  url("./fonts/008acf881eac29f0c639b8e2345a1764.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/008acf881eac29f0c639b8e2345a1764.svg#Suisse Int'l Mono") format("svg"); /* iOS 4.1- */
}

body {
	font-family: "Suisse Int'l Medium";
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-light .navbar-nav .nav-link, 
.mono-font,
footer, .footer {
	font-family:"Suisse Int'l Mono" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-light .navbar-nav .nav-link {
	transition: color .15s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #D64541;
}

header {
	background: url('./images/header_image.png');
    min-height: 750px;
    width: 100%;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	text-align: center;
    color: #fff;
}

.navbar-brand > img {
	width: 50px;
	height: auto;
}

.bg-dark {
	background-color: #212121 !important;
}

.bg-light {
	background-color: #fff !important;
}



.dark-btn {
	background-color: #212121;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.10em;
	transition: background-color .15s ease-in-out;
	border-radius: 0;
}

.dark-btn:hover {
	color: #fff;
	text-decoration: none;
	background-color: #D64541;
}

.dark-lg {
	padding: 0.8rem 1.5rem;
}

.section-header {
	display: flex;
	justify-content: space-between;
    border-bottom: 1px solid #212121;
    padding-bottom: 20px;
}

.section-header h3 {
	text-transform: uppercase;
	align-self: center;
}

.product {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 30px;
    color: #fff;
	min-height: 520px;
	background-size: cover;
    background-position: center;
}

.product > a {
	align-self: flex-start;
	padding: 0.35rem 1rem;
}

.video {
	background: #F2F2F2;
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
}

.video h4 {
	color: #D64541;
}

.video > .video-content {
	display: flex;
}

.video > .video-content > img {
    width: 260px;
    height: auto;
}

.video > .video-content > .video-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.video > .video-content > .video-description > p {
	font-size: 0.8rem
}

.video > .video-content > .video-description > a {
	font-size: 0.75rem;
	align-self: flex-start;
}


.footer, footer {
	background: #fff;
	color: #212121;
}

.footer .container {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

.footer img {
	width: 300px;
	height: auto;
	margin: 35px 0;
}

.footer .icons {
	margin-bottom: 25px;
}

.footer .icons > a {
	color: #212121;
	text-decoration: none;
	margin-right: 20px;
	font-size: 1.5rem;
	transition: color 0.25s ease-in-out;
}

.footer .icons > a:last-of-type {
	margin-right: 0;
}

.footer .icons > a:hover {
	color: #D64541;
}

footer {
	padding-bottom: 10px;
}

footer .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .container .links a {
	color: #212121;
	margin-right: 10px;
}

footer .container .links a:last-of-type {
	margin-right: 0;
}

.team-filter {
    display: flex;
    align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.team-filter > a {
	align-self: flex-end;
	margin-right: 15px;
}

.team-filter > a:last-of-type {
	margin-right: 0;
}

.team-filter > a > img {
    width: 100px;
    height: auto;
}

.b-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.player {
    display: flex;
	flex-direction: column;
}

.player > img {
    width: 100%;
    height: auto;
}

.player > .player-info {
    background: #eee;
    text-align: center;
    padding: 15px 0;
}

.player > .player-info > h5 {
    text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}

.player > .player-info > span {
    margin-bottom: 5px;
    display: block;
}

.social-icons > a {
	color: #000;
	margin-right: 10px;
	transition: color 0.25s ease-in-out;
}

.social-icons > a:hover {
	color: #D64541;
}

.social-icons > a:last-of-type {
    margin-right: 0;
}

.staff, .partner {
	background: #eee;
	padding: 25px 20px;
	transition: transform 0.25s ease-in-out;
}

.staff:hover, .partner:hover {
	transform: scale(1.05);
}

.staff-header > img {
	float: left;
	width: 75px;
	height: auto;
}

.partner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.partner > img {
	width: 220px;
	height: auto;
}

.partner > .partner-info > p {
	font-size: 0.85rem;
}

@media screen and (max-width: 540px) {
	.video > .video-content > img {
		align-self: center;
		width: 200px;
		height: auto;
	}
	footer .container {
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.product {
		align-items: center;
	}

	.product > a {
		align-self: center;
	}
}